body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;
  }
  
  .ul {
    text-align: center;
    list-style-type: none ;
  }

  .pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  
    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment:fixed;
  }
  
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateY(180deg)
  }
  to {
    opacity: 1;
    transform: rotateY(0deg)
  }
}



.load{
  animation: transitionIn 0.75s;
  animation-duration: 4s;
}

h3, .section2{
  text-align: center;
}

h3 {
  text-align: left;
}

  .pimg1{
    background-image:url('../img/img1.jpeg');
    min-height:100%;
  }
  
  .pimg2{
    background-image:url('../img/img2.jpeg');
    min-height:400px;
  }
  
  .pimg3{
    background-image:url('../img/img3.jpeg');
    min-height:400px;
  }
  
  .section{
    text-align:center;
    padding:50px 80px;
  }
  
  .section-dark{
    background-color:#282e34;
    color:#ddd;
  }
  
  .ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }

  .info{
    position:absolute;
    top:57%;
    width:100%;
    text-align:center;
    color:rgb(196, 196, 196);
    font-size:27px;
    letter-spacing:4px;
    text-transform:uppercase;
    font-weight: 100;

  }

  .ul{
    text-align:center;
  }
  
  .ptext .border{
    background-color:#111;
    color:#fff;
    padding:20px;
  }
  
  .ptext .border.trans{
    background-color:transparent;
  }
  
  @media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
      background-attachment:scroll;
    }
    .picMe{
      margin: auto;
      width:150px;
      height:150px;
    }
    .info{
      position:absolute;
      top:60%;
      width:100%;
      text-align:center;
      color:rgb(196, 196, 196);
      font-size:27px;
      letter-spacing:4px;
      text-transform:uppercase;
      font-weight: 100;
    }
  }

.sectHead{
    /* display:flex; */
    font-weight: 100;
    font-size: 50px;
  } 

  .picMe {

    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%; */
    
  
    
  }

  .section1{
      text-align: left;
  }

  /*Cursor*/
  .txt-type > .txt{
      border-right:0.5rem solid orange;

  }
  /*
  




  */